
/* ---------- 菜单公共样式 START ---------- */
.menu-item-wrapper .menu-title-wrapper{
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.menu-item-wrapper .menu-title-wrapper> .menu-title-icon{
    width: 30px;
    text-align: center;
    transition: transform 0.1s;
}
/* ---------- 菜单公共样式 END ---------- */


/* ---------- 实现一级级菜单的Hover变化 START ---------- */
.menu-item-wrapper .menu-item-level1{
    background-color: #37424f;
    border-bottom: 1px solid #414d5c;
    color: white;
    padding-left: 10px;
}
.menu-item-wrapper .menu-item-level1:hover{
    background-color: #43515e;
}
/* ---------- 实现一级菜单的Hover变化 END ---------- */


/* ---------- 实现二级菜单的Hover变化 START ---------- */
.menu-item-wrapper .menu-item-level2{
    color: white;
    padding-left: 20px;
}
.menu-item-wrapper .menu-item-level2:hover{
    background-color: #37424f;
}
/* ---------- 实现二级菜单的Hover变化 END ---------- */


/* ---------- 实现二级菜单图标的Hover变化 START ---------- */
.menu-item-wrapper .menu-item-level2> .menu-title-icon{
    color: #aeb9c2;
}
.menu-item-wrapper .menu-item-level2:hover> .menu-title-icon{
    color: white;
}
/* ---------- 实现二级菜单图标的Hover变化 END ---------- */


/* ---------- 实现子菜单显示/隐藏 START ---------- */
.menu-item-wrapper .menu-item-active,
.menu-item-wrapper .menu-item-active ~ div.menu-children-wrapper{
    display: none;
}
.menu-item-wrapper .menu-item-active:checked ~ label.menu-title-wrapper{
    background-color: #43515e;
}
.menu-item-wrapper .menu-item-active:checked ~ label.menu-title-wrapper> .menu-title-icon{
    transform: rotate(90deg);
}
.menu-item-wrapper .menu-item-active:checked ~ div.menu-children-wrapper{
    display: block;
}
/* ---------- 实现子菜单显示/隐藏 END ---------- */