<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与接口的全类名一致-->
<mapper namespace="chnp.manager.generator.dao.GnrContentDao">

    <!-- 结果映射 -->
    <resultMap id="gnrContentMapper" type="chnp.manager.generator.model.domain.GnrContent">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="columns">
        <trim suffixOverrides=",">
            id ,content ,create_time ,modified_time ,
            <if test="additionalColumns != null and additionalColumns != ''"><![CDATA[ ${ additionalColumns } , ]]></if>
        </trim>
    </sql>

    <!-- 关联表 -->
    <sql id="from">
        <trim suffixOverrides=",">
            from gnr_content ,
        </trim>
        <if test="additionalTables != null and additionalTables != ''"><![CDATA[ ${ additionalTables } ]]></if>
    </sql>

    <!-- 过滤条件 -->
    <sql id="where">
        <trim prefix="where" suffixOverrides="and">
        	<![CDATA[ 1=1 and ]]>
            <if test="id != null"><![CDATA[ gnr_content.id = #{ id } and ]]></if>
            <if test="content != null"><![CDATA[ gnr_content.content = #{ content } and ]]></if>
            <if test="createTimeBegin != null"><![CDATA[ gnr_content.create_time >= #{ createTimeBegin } and ]]></if>
            <if test="createTimeEnd != null"><![CDATA[ gnr_content.create_time < #{ createTimeEnd } and ]]></if>
            <if test="modifiedTimeBegin != null"><![CDATA[ gnr_content.modified_time >= #{ modifiedTimeBegin } and ]]></if>
            <if test="modifiedTimeEnd != null"><![CDATA[ gnr_content.modified_time < #{ modifiedTimeEnd } and ]]></if>
            <if test="search != null and search != ''">
                <![CDATA[
                    (
                    ) and
                ]]>
            </if>
            <if test="additionalFilters != null and additionalFilters != ''"><![CDATA[ ${ additionalFilters } and ]]></if>
        </trim>
        <if test="additionalConstrains != null and additionalConstrains != ''"><![CDATA[ ${ additionalConstrains } ]]></if>
    </sql>

    <!-- 操作：插入数据 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gnr_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id ,</if>
            <if test="content != null and content != ''">content ,</if>
            <if test="createTime != null">create_time ,</if>
            <if test="modifiedTime != null">modified_time ,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{ id } ,</if>
            <if test="content != null and content != ''">#{ content } ,</if>
            <if test="createTime != null">#{ createTime } ,</if>
            <if test="modifiedTime != null">#{ modifiedTime } ,</if>
        </trim>
    </insert>

    <!-- 操作：根据条件删除 -->
    <delete id="delete">
        delete gnr_content
        <include refid="from"></include>
        <include refid="where"></include>
    </delete>

    <!-- 操作：根据条件获取数据 -->
    <select id="getByCondition" resultMap="gnrContentMapper" useCache="false">
        select <include refid="columns"></include>
        <include refid="from"></include>
        <include refid="where"></include>
        limit 1
    </select>

    <!-- 操作：根据条件查询数据 -->
    <select id="findByCondition" resultMap="gnrContentMapper" useCache="false">
        select <include refid="columns"></include>
        <include refid="from"></include>
        <include refid="where"></include>
    </select>

    <!-- 操作：根据条件分页查询数据 -->
    <select id="findPage" resultMap="gnrContentMapper" useCache="false">
        select <include refid="columns"></include>
        <include refid="from"></include>
        <include refid="where"></include>
        <if test="start != null and length != null "><![CDATA[ limit #{ start },#{ length } ]]></if>
    </select>

    <!-- 操作：根据条件统计数据 -->
    <select id="countByCondition" resultType="java.lang.Long" useCache="false">
        select count(*)
        <include refid="from"></include>
        <include refid="where"></include>
    </select>

    <!-- 操作：根据主键更新数据 -->
    <update id="updateById">
        update gnr_content
        <trim prefix="set" suffixOverrides=",">
            <if test="content != null">content = #{ content } ,</if>
            <if test="createTime != null">create_time = #{ createTime } ,</if>
            <if test="modifiedTime != null">modified_time = #{ modifiedTime } ,</if>
        </trim>
        <trim prefix="where">
            id = #{ id }
        </trim>
    </update>
</mapper>