<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chnp.manager.mvc.dao.TsConfigDao">
	<resultMap id="BaseResultMap" type="chnp.manager.mvc.model.domain.TsConfig">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="configName" column="config_name" jdbcType="VARCHAR"/>
		<result property="configKey" column="config_key" jdbcType="VARCHAR"/>
		<result property="configVal" column="config_val" jdbcType="VARCHAR"/>
		<result property="configDesc" column="config_desc" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="columns">
		id, config_name, config_key, config_val, config_desc
	</sql>

	<sql id="where">
		<trim prefix="where" suffixOverrides="and">
			<if test="id != null"><![CDATA[ ts_config.id = #{id, jdbcType=INTEGER} and ]]></if>
			<if test="configName != null and configName != ''"><![CDATA[ ts_config.config_name = #{configName, jdbcType=VARCHAR} and ]]></if>
			<if test="configKey != null and configKey != ''"><![CDATA[ ts_config.config_key = #{configKey, jdbcType=VARCHAR} and ]]></if>
			<if test="configVal != null and configVal != ''"><![CDATA[ ts_config.config_val = #{configVal, jdbcType=VARCHAR} and ]]></if>
			<if test="configDesc != null and configDesc != ''"><![CDATA[ ts_config.config_desc = #{configDesc, jdbcType=VARCHAR} and ]]></if>
			<if test="search != null and search != ''">
				<![CDATA[
			        (
						LOWER(ts_config.config_name) like LOWER(concat('%',#{search, jdbcType=VARCHAR},'%')) or
						LOWER(ts_config.config_key) like LOWER(concat('%',#{search, jdbcType=VARCHAR},'%')) or
						LOWER(ts_config.config_val) like LOWER(concat('%',#{search, jdbcType=VARCHAR},'%'))
			        ) and
			    ]]>
			</if>
			<if test="filterCondition != null and filterCondition != ''"><![CDATA[ ${filterCondition} and]]></if>
		</trim>
	</sql>
	
	<select id="getByCondition" resultMap="BaseResultMap">
		select <include refid="columns"/>
		from ts_config
		<include refid="where"/>
	</select>

	<select id="findByCondition" resultMap="BaseResultMap">
		select <include refid="columns"/>
		from ts_config
		<include refid="where"/>
	</select>

	<select id="findPage" resultMap="BaseResultMap">
		select <include refid="columns"/>
		from ts_config
		<include refid="where"/>
		limit #{start}, #{length}
	</select>

	<select id="countByCondition" resultType="java.lang.Integer">
		select count(*)
		from ts_config
		<include refid="where"/>
	</select>

	<delete id="deleteByCondition">
		delete tc from ts_config tc
		<include refid="where"/>
	</delete>
</mapper>