<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与接口的全类名一致-->
<mapper namespace="chnp.manager.mvc.dao.TsKeyValueDao">

    <!-- 结果映射 -->
    <resultMap id="tsKeyValueMapper" type="chnp.manager.mvc.model.domain.TsKeyValue">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="chinese" property="chinese" />
        <result column="descr" property="descr" />
        <result column="sort" property="sort" />
        <result column="key_id" property="keyId" />
    </resultMap>

	<resultMap id="tsKeyValueCmplxMapper" type="chnp.manager.mvc.model.domain.TsKeyValue">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="chinese" property="chinese" />
		<result column="descr" property="descr" />
		<result column="sort" property="sort" />
		<result column="key_id" property="keyId" />
		<association column="key_id" property="tsKey" resultMap="tsKeyMapper" columnPrefix="k_"/>
	</resultMap>
    <resultMap id="tsKeyMapper" type="chnp.manager.mvc.model.domain.TsKey">
        <result column="name" property="name" />
        <result column="chinese" property="chinese" />
        <result column="descr" property="descr" />
    </resultMap>

    <!-- 查询字段 -->
    <sql id="columns">
        <trim suffixOverrides=",">
            id ,name ,chinese ,descr ,sort ,key_id ,
            <if test="additionalColumns != null and additionalColumns != ''"><![CDATA[ ${ additionalColumns } , ]]></if>
        </trim>
    </sql>

    <!-- 关联表 -->
    <sql id="from">
        <trim suffixOverrides=",">
            from ts_key_value ,
        </trim>
        <if test="additionalTables != null and additionalTables != ''"><![CDATA[ ${ additionalTables } ]]></if>
    </sql>

    <!-- 过滤条件 -->
    <sql id="where">
        <trim prefix="where" suffixOverrides="and">
        	<![CDATA[ 1=1 and ]]>
            <if test="id != null"><![CDATA[ ts_key_value.id = #{ id } and ]]></if>
            <if test="name != null"><![CDATA[ ts_key_value.name = #{ name } and ]]></if>
            <if test="chinese != null"><![CDATA[ ts_key_value.chinese = #{ chinese } and ]]></if>
            <if test="descr != null"><![CDATA[ ts_key_value.descr = #{ descr } and ]]></if>
            <if test="sort != null"><![CDATA[ ts_key_value.sort = #{ sort } and ]]></if>
            <if test="keyId != null"><![CDATA[ ts_key_value.key_id = #{ keyId } and ]]></if>
        </trim>
    </sql>

	<select id="getByAssociation" resultMap="tsKeyValueCmplxMapper" useCache="false">
		select kv.*, k.name as k_name, k.chinese as k_chinese, k.descr as k_descr
		from (
			select <include refid="columns"/>
			from ts_key_value
			<include refid="where"/>
			limit 1
		) kv
		left join ts_key k on k.id=kv.key_id
	</select>

    <!-- 操作：插入数据 -->
    <insert id="save" useGeneratedKeys="true">
        INSERT INTO ts_key_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id ,</if>
            <if test="name != null and name != ''">name ,</if>
            <if test="chinese != null and chinese != ''">chinese ,</if>
            <if test="descr != null and descr != ''">descr ,</if>
            <if test="sort != null">sort ,</if>
            <if test="keyId != null">key_id ,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{ id } ,</if>
            <if test="name != null and name != ''">#{ name } ,</if>
            <if test="chinese != null and chinese != ''">#{ chinese } ,</if>
            <if test="descr != null and descr != ''">#{ descr } ,</if>
            <if test="sort != null">#{ sort } ,</if>
            <if test="keyId != null">#{ keyId } ,</if>
        </trim>
    </insert>

    <!-- 操作：根据条件删除 -->
    <delete id="deleteByCondition">
        delete ts_key_value <include refid="from" />
        <include refid="where" />
    </delete>

    <!-- 操作：根据条件获取数据 -->
    <select id="getByCondition" resultMap="tsKeyValueMapper" useCache="false">
        select <include refid="columns" /> <include refid="from" />
        <include refid="where" />
        <if test="additionalFilters != null and additionalFilters != '' "><![CDATA[ ${ additionalFilters } ]]></if>
        limit 1
    </select>

    <!-- 操作：根据条件查询数据 -->
    <select id="findByCondition" resultMap="tsKeyValueMapper" useCache="false">
        select <include refid="columns" /> <include refid="from" />
        <include refid="where" />
        <if test="additionalFilters != null and additionalFilters != '' "><![CDATA[ ${ additionalFilters } ]]></if>
    </select>

    <!-- 操作：根据条件分页查询数据 -->
    <select id="findPage" resultMap="tsKeyValueMapper" useCache="false">
        select <include refid="columns" /> <include refid="from" />
        <include refid="where" />
        <if test="additionalFilters != null and additionalFilters != '' "><![CDATA[ ${ additionalFilters } ]]></if>
        <if test="pageNo != null and pageSize != '' "><![CDATA[ limit #{ startNo },#{ pageSize } ]]></if>
    </select>

    <!-- 操作：根据条件统计数据 -->
    <select id="countByCondition" resultType="long" useCache="false">
        select count(*) <include refid="from" />
        <include refid="where" />
    </select>

    <!-- 操作：根据主键更新数据 -->
    <update id="updateById">
        update ts_key_value
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{ name } ,</if>
            <if test="chinese != null">chinese = #{ chinese } ,</if>
            <if test="descr != null">descr = #{ descr } ,</if>
            <if test="sort != null">sort = #{ sort } ,</if>
            <if test="keyId != null">key_id = #{ keyId } ,</if>
        </trim>
        <trim prefix="where">
            id = #{ id }
        </trim>
    </update>
</mapper>